body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}



.grid-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 700px;
  height: 700px;
  /* gap: 2px;  */
}


.grid-item {
  background-color: lightblue;
  /* border: 1px solid #ccc; */
  display: flex;
  align-items: center;
  justify-content: center; 
  font-size: 1.5rem;
}

.grid-item:hover {
  opacity: 0.5;
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}
